/* --- Estilos Generales --- */
.root {
    -fx-font-family: 'Segoe UI', Arial, sans-serif;
    -fx-background-color: #40a4d2;
}

/* --- Panel Izquierdo --- */
.left-pane {
    -fx-background-color: #F4F7FC;
}

/* --- Panel Derecho --- */
.right-pane {
    -fx-background-color: #40a4d2;
}

/* --- Títulos y Logo --- */


.subtitle-label {
    -fx-font-size: 14px;
    -fx-text-fill: #FFFFFF;
}

/* --- Etiquetas del Formulario --- */
.form-label {
    -fx-font-size: 14px;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
}