.signin-link-button {
    -fx-background-color: transparent;
    -fx-text-fill: #0078D7;
    -fx-underline: true;
    -fx-cursor: hand;
}

.left-panel {
    -fx-background-color: white;
    -fx-alignment: center;
}

.zendo-title-label {
    -fx-font-size: 32px;
    -fx-font-weight: bold;
    -fx-text-fill: #FFFFFF;
    -fx-padding: 0;
}

.welcome-title-registro {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #FFFFFF;
    -fx-padding: 0;
}